.nav-bar{
    padding:10px;
    max-width: 1150px;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: auto;
}

.nav-item{
    text-decoration: none;
    list-style: none;
    text-align: center;
    line-height: 45px;
    font-family: monospace;
    font-size: 35px;
    padding: 25px;
    font-size: 50px;
}

a:visited{
    text-decoration: none;
    color: #000000;
}

a:link{
    text-decoration: none;
    color: black;
}

.flex{
    display: flex;
}

.nav-item:hover{
    font-size: 45px;
    font-weight: bold;
    color:  blue;
    cursor: pointer;
}

.border-right {
    border-right: 1px solid black;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(132deg,#000000, #63e8ff,#5da6a5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.gamebody{
    position: relative;
    width: 50vw;
    height: 60vh;
    margin: auto;
    top: 10vh;
    background-color: white;
    align-items: center;
    z-index: 0;
}

.clickerbox{
    position: absolute;
    margin: auto 0;
    left: 33%;
    top: 16%;
    height: 35vh;
    border-radius: 50%;
}

.clickerbox:hover{
    height: 37vh;
    top: 15%;
    left: 32%;
    cursor: pointer;
}

#cookie-text{
    font: arial;
    font-size: 3vh;
    padding: 15px;
    margin: auto 0;
    z-index: 1;
    position: absolute;
}

.right-side-bar{
    position: absolute;
    margin: auto;
    background-color: gray;
    width: 10vw;
    top: 0px;
    height: 32vw;
    left: 40vw;
}

.left-side-bar{
    position: absolute;
    margin: auto;
    background-color: gray;
    width: 10vw;
    top: 0px;
    height: 32vw;
    right: 40vw;
    z-index: auto;
}