.nav-bar{
    padding:10px;
}

.nav-bar-elements{
    background-color: lightblue;
    border-collapse: separate;
    border-spacing: 30px 0;
    border: solid 2px;
    max-width: 200px;
    padding-left: 1px;
}

.nav-bar-hd {
    padding: 5px 0px;
}

a.nav-bar-hd {
    text-decoration: underline solid transparent;
    width: 100px;
    color: black;
    display: inline-block;
    margin: 5px auto;
    font-size: 35px;
    padding-right: 25px;
    
}

a.nav-bar-hd:hover{
    
    transition: text-decoration 1s ease;
    text-decoration: underline solid currentColor;
}